{% extends "inc/base/withnews.html" %}

{% block styles %}{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/section.css" />
{% endblock %}

{# TODO: paginate the tag list if needed, for now let's leave that out #}

{% block right_container %}
<ul class="tag_list">
  {% for tag in tags %}
  <li>
  <a href="{% url xue.tagfrontend.views.tag_view tag.pk %}">{{ tag.name }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}


{# vim:set ai et ts=2 sw=2 sts=2 fenc=utf8 syntax=django: #}
