{% extends "./inc/base/leftright.html" %}
{% load cms_tags menu_tags %}

{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/common.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/colors.css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/nav-left.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/nav-horiz.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/stackedmenu.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/dropmenu.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/breadcrumb.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/subtitle.css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}xue/css/teststyle.css" />
{% endblock %}

{% block left_container %}
      <img src="{{ STATIC_URL }}xue/img/tstimg/tech1.gif" alt="" />
      <a href="{% page_url "art-dept" %}"><img src="{{ STATIC_URL }}xue/img/tstimg/tech3.gif" alt="" /></a>

      <div class="box"></div>

      <!-- <img src="{{ STATIC_URL }}xue/img/tstimg/line.gif"  />
      <a href="index.html"><img src="{{ STATIC_URL }}xue/img/tstimg/4.gif"  /></a>
      <a href="index.html"><img src="{{ STATIC_URL }}xue/img/tstimg/5.gif"  /></a>
      <a href="index.html"><img src="{{ STATIC_URL }}xue/img/tstimg/6.gif"  /></a> -->
      <div class="rMarginer">
        <ul class="nav_left stackedmenu">
          {% show_menu_below_id "stage" 0 1 1 0 -1 0 "menus/nav-left-menu.html" %}
        </ul>

        <div class="box"></div>

        <div class="box"></div>

      <!--<label for="in"></label>
      <input name="in" type="text" id="in" class="form_input" value="站内搜索" />
      <input type="submit" name="button" id="button" value="GO" /><p>
            <select name="link" id="link" class="form_select">
              <option selected="selected">快速链接</option>
              <option>连接1</option>
              <option>连接2</option>
              <option>连接3</option>
              <option>连接4</option>
            </select> -->
        <div class="portal_entrance">
        </div>

        <h3 class="subtitle fancysub"><span class="dmred">比赛快讯</span></h3>
        <ul class="list_vert">
          {% show_menu_below_id "contests" 0 1 1 0 6 %}
        </ul>

        <div class="box"></div>

        <h3 class="subtitle fancysub"><span class="dmred">讲座快讯</span></h3>
        <ul class="list_vert">
          {% show_menu_below_id "lectures" 0 1 1 0 6 %}
        </ul>
      </div>
{% endblock %}

{% block right_container %}
            <ul class="nav_horiz dmgray_bg dropmenu">
              <li>
                <a href="{% page_url "home" %}">首页</a>
              </li>

              {% show_menu_below_id "home" 0 1 1 0 %}

              <li class="rightalign dmorange_bgfocus"><a href="/old">旧版入口</a></li>
              <li class="rightalign dmorange_bgfocus"><a href="#">下载专区</a></li>
            </ul>

      <img src="{{ STATIC_URL }}xue/img/tstimg/tech2.gif" width="725" height="90" alt="" />
              <div class="breadcrumb"><span>现在位置: </span><ul>{% show_breadcrumb %}</ul></div><div class="clear"></div>
              <span class="constructbig dmorange">此板块暂缺内容！Still unfinished!</span>
                <h3 class="subtitle clear"><span class="dmred">项目成果</span></h3>
                <img src="{{ STATIC_URL }}xue/img/tstimg/嵌入3.jpg" width="725" height="350" alt="" style="margin-bottom: 18px;" />

                <div class="group"><div class="title floatleft">视频讯息</div><div style="float:right">more</div><hr />
                <img src="{{ STATIC_URL }}xue/img/tstimg/嵌入4.jpg" width="230" height="150" style="float: left" alt="" />
                <div style="float:right">左边是我好朋友</div>

                <div style="clear: both;">
                <div class="previewItem2">
            <img src="{{ STATIC_URL }}xue/img/tstimg/img_previews.jpg" width="68" height="68" alt="" />
          <div class="headline">别吃我</div>
                    <div class="previewText">
                    欢迎度什么的
                    <br/>
                    我是文章日期
                    </div>
        </div>
                <div class="previewItem2">
            <img src="{{ STATIC_URL }}xue/img/tstimg/img_previews.jpg" width="68" height="68" alt="" />
          <div class="headline">别吃我</div>
                    <div class="previewText">
                    欢迎度什么的
                    <br/>
                    我是文章日期
                    </div>
        </div>
                <div class="previewItem2">
            <img src="{{ STATIC_URL }}xue/img/tstimg/img_previews.jpg" width="68" height="68" alt="" />
          <div class="headline">别吃我</div>
                    <div class="previewText">
                    欢迎度什么的
                    <br/>
                    我是文章日期
                    </div>
        </div></div>

                </div>
                <div class="group" style="margin:0 0 0 5px;"><div class="title floatleft">系部新闻</div><div style="float:right">more</div><hr />
        <div class="previewItem">
            <img src="{{ STATIC_URL }}xue/img/tstimg/img_previews.jpg" width="68" height="68" alt="" />
          <div class="headline">我是文章标题别吃我</div>
                    <div class="previewText">
                    这里是文章内容这里是文章内容这里是文章内容这里是文章内容（字数不得超过42字）
                    <br/>
                    我是文章日期请吃我
                    </div>
        </div>
        <div class="previewItem" style="background:#F4F4F4">
            <img src="{{ STATIC_URL }}xue/img/tstimg/img_previews.jpg" width="68" height="68" alt="" />
          <div class="headline">我是文章标题别吃我</div>
                    <div class="previewText">
                    这里是文章内容这里是文章内容这里是文章内容这里是文章内容（字数不得超过42字）
                    <br/>
                    我是文章日期请吃我
                    </div>
                </div>
        <div class="previewItem">
            <img src="{{ STATIC_URL }}xue/img/tstimg/img_previews.jpg" width="68" height="68" alt="" />
          <div class="headline">我是文章标题别吃我</div>
                    <div class="previewText">
                    这里是文章内容这里是文章内容这里是文章内容这里是文章内容（字数不得超过42字）
                    <br/>
                    我是文章日期请吃我
                    </div>
        </div>
                <div class="previewItem" style="background:#F4F4F4">
            <img src="{{ STATIC_URL }}xue/img/tstimg/img_previews.jpg" width="68" height="68" alt="" />
          <div class="headline">我是文章标题别吃我</div>
                    <div class="previewText">
                    这里是文章内容这里是文章内容这里是文章内容这里是文章内容（字数不得超过42字）
                    <br/>
                    我是文章日期请吃我
                    </div>
                </div>
                </div>
{% endblock %}

{% block footer_container %}
<!--        <div class="box" style="height:94px;"></div>
        <div class="box" style="height:50px;width:725px"></div>
    <div>版权所有2007-2011 江南大学数字媒体学院<br />&copy; 2011 SCHOOL OF DIGITAL MEDIA JIANGNAN UNIVERSITY. All Rights Reserved.备案：苏ICP备05059359号</div>
        <div class="box" style="height:10px;width:725px"></div>
        <div class="box" style="background:#464646;height:5px;width:725px"></div>
        <div class="box" style="background:#464646;height:5px;width:960px"></div> -->
{% endblock %}

{# vim:set ai et ts=2 sw=2 sts=2 fenc=utf8 syntax=django: #}
