{% load cache cms_tags menu_tags %}


<nav class="nav_horiz clear">
  <ul class="dmgray_bg dropmenu">{% if NAV_SHOW_HOME_ENTRY %}
    <li>
      <a href="{% page_url "home" %}">首页</a>
      </li>{% endif %}
{% cache 86400 nav-horiz-bulk request.user.username NAV_FOCUSCLRCLASS %}
{% include "inc/now.html" %}
{% show_menu_below_id "home" 0 1 1 0 -1 16 %}{% if user.is_staff %}
    <li><a href="{% url admin:index %}">管理</a></li>{% endif %}
{# NOTE: the right-aligned items are displayed in REVERSED order #}
    <li class="rightalign {{ NAV_FOCUSCLRCLASS }}"><a href="/dm/">旧版入口</a></li>
    <li class="rightalign {{ NAV_FOCUSCLRCLASS }}">
      <a href="{% page_url "down_area" %}">下载专区</a>{% if request.user.is_authenticated %}
      <ul class="descendant">
{% show_menu_below_id "down_area" 0 1 1 0 -1 16 %}
      </ul>{% endif %}
      </li>
{% endcache %}
  </ul>
</nav>


{# vim:set ai et ts=2 sw=2 sts=2 fenc=utf8 syntax=django: #}
