<!-- Kill IE6 -->
<!--[if lt IE 7]>
<style>html{height:100% !fsck}body{height:100% !damn;overflow:hidden}</style>
<div style="display:table;height:100%;#position:relative;overflow:hidden">
  <div style="display:table-cell;#position:absolute;#top:50%;vertical-align:middle">
    <div style="width:61.8%;margin:0 auto;#position:relative;#top:-50%;">
      <div class="ie6_die">
        <span class="bang">!!!</span>
        <p>
        由于繁重的开发负担，本站不再支持使用 <span class="en">IE 6</span> 或更老版本的 <span class="en">IE</span> 访问。
        </p>

        <p>
        请<a href="http://download.microsoft.com/download/1/6/1/16174D37-73C1-4F76-A305-902E9D32BAC9/IE8-WindowsXP-x86-CHS.exe">下载 <span class="en">IE 8</span></a>并安装，为中国网民浏览器升级换代尽一份力。
        </p>

        <p class="upgrade_relief">升级 <span class="en">IE</span> 不会导致系统被检测为盗版，敬请放心</p>

        <p>
        并请考虑选用以下几种受支持的现代浏览器之一：
        </p>

        <p class="browsers">
        <a href="http://mozilla.com/">火狐</a> |
        <a href="http://www.google.com/chrome/"><span class="en">Chrome</span></a> |
        <a href="http://www.opera.com/"><span class="en">Opera</span></a>
        </p>

        <p>
        如您使用的是国内一些“多核”浏览器，如搜狗、<span class="en">360</span> 极速之类，请启用其内置的快速模式浏览本网站的页面，不要使用兼容模式。
        </p>

        <p>
        感谢您对推进中国网民浏览器更新换代的支持，对造成的不便深表歉意。
        </p>
      </div>
    </div>
  </div>
</div>
<![endif]-->


{# vim:set ai et ts=2 sw=2 sts=2 fenc=utf8 syntax=django: #}
