<!DOCTYPE html>
<!--[if lt IE 6]><html id="ie6minus"><![endif]-->
<!--[if IE 6]><html id="ie6"><![endif]-->
<!--[if IE 7]><html id="ie7" lang="zh"><![endif]-->
<!--[if IE 8]><html id="ie8" lang="zh"><![endif]-->
<!--[if IE 9]><html id="ie9" lang="zh-cmn"><![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9)]><!-->
<html id="modern" lang="zh-cmn">
<!--<![endif]-->
  <head>{% comment %}
  UPDATE: Actually this (IE8 lookahead downloader thing) got fixed...
  see http://blogs.msdn.com/b/ieinternals/archive/2010/04/01/ie8-lookahead-downloader-fixed.aspx
  http://blogs.msdn.com/b/ieinternals/archive/2009/07/27/bugs-in-the-ie8-lookahead-downloader.aspx
  http://www.ravelrumba.com/blog/ie-8-charset-bug/
{% endcomment %}
    <!--[if !(IE 8)]><!--><meta charset="utf-8" /><!--<![endif]-->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->
    <title>{% block pagetitle %}{% endblock %}</title>{% block decl %}{% endblock %}
  </head>

  <body>
    <div id="wrap">{% block earlybody %}{% endblock %}
      <div class="root clear{% block rootclass %}{% endblock %}">
        <div class="headContainer">{% block header %}{% endblock %} 
            <a herf="http://dm.jiangnan.edu.cn/cn/">
                <img href="http://static.dm.jiangnan.edu.cn/xue/img/logo.png">
            </a></div>
{% block body %}{% endblock %}
      </div>
      <div id="bodygradient"></div>
      <!--<div id="welcomefresh2013"></div-->
    </div>
    <div class="footerContainer">{% block footer %}{% endblock %}    </div>{% block latefooter %}{% endblock %}
  </body>
</html>


{# vim:set ai et ts=2 sw=2 sts=2 fenc=utf8 syntax=django: #}
