.cms_article {
    font-size: 16px;
}


/***** ARTICLE HEADER *****/
.cms_article>header {
    padding: 0 0 10px;
    color: #999;
    font-size: 12px;
}

.cms_article>header .header_link {
    font-size: 12px;
    border-bottom: none; /* don't want the dashed line to clutter view */
}

.cms_article>header>.title {
    color: #00b6fa; /* dmblue */
    font-size: 28px; /* 2em */
    font-weight: bold;
}

.cms_article>header>.pubtime:before {
    content: "于";
    margin: 0 4px 0 0;
}

.cms_article>header>.pubtime:after {
    content: "发布";
    margin: 0 0 0 4px;
}

.cms_article>header>.tags:before {
    content: "标签:";
    margin: 0 4px 0 0;
}

.cms_article>header>.tags:empty:after {
    content: "无";
}


/***** ARTICLE CONTENT *****/
.cms_article p,
.cms_article li,
.cms_article span,
.cms_article td,
.cms_article th {
    line-height: 1.75;
}

/***** HEADINGS *****/
.cms_article h1,
.cms_article h2,
.cms_article h3,
.cms_article h4,
.cms_article h5,
.cms_article h6 {
    color: #005b7d;
}

.cms_article h1,
.cms_article h2,
.cms_article h3 {
    font-weight: bold;
}

.cms_article h1 {
    font-size: 28px;
    padding: 14px 0;
}

.cms_article h2 {
    font-size: 26px;
    padding: 12px 0;
}

.cms_article h3 {
    font-size: 24px;
    padding: 10px 0;
}

.cms_article h4 {
    font-size: 22px;
    padding: 8px 0;
}

.cms_article h5 {
    font-size: 20px;
    padding: 6px 0;
}

.cms_article h6 {
    font-size: 18px;
    padding: 4px 0;
}

/***** TEXTUAL DATA *****/
.cms_article p {
    margin-top: 12px;
}

.cms_article strong {
    font-weight: bold;
}


/***** HYPERLINK *****/
.cms_article a {
    margin: 0 3px;
    /*
     * originally 18px, rewritten to take account of possibly overridden
     * font-size of parent element. this is exactly 18px if parent's
     * font-size is kept 16px.
     */
    font-size: 112.5%;

    color: #005b7d;
    border-bottom: 1px dashed #666;
}


/***** FILE LINKS *****/
.cms_article .file {
    display: block;
}

.cms_article .file>.filesize {
    font-size: 12px;
}


/***** TABULAR DATA *****/
.cms_article table {
    margin: 16px auto;
    width: 98%;
    background-color: #eee;
}

.cms_article table>thead {
    border-bottom: 2px solid #b7b7b7;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.0625);
}

.cms_article td,
.cms_article th {
    border: 1px solid #b7b7b7;
    text-align: center;
    padding: 3px;
}

.cms_article td>p,
.cms_article th>p {
    margin-top: 0;
}

/* deprive (simple) nested table of margin */
.cms_article td>table {
    /*
     * center itself but leave no extra space
     */
    margin: 0px auto;

    /*
     * remove background
     */
    background: none;
}

/* completely nested table
 * remove margins as much as possible
 */
.cms_article td>table:only-child {
    /* -(td.padding) - 1 to "hide" the 1px border */
    margin: -4px;

    /*
     * NOTE: this requires some form of parent selector
     * (maybe thru jQuery) to achieve true 100% width,
     * since the parent (td)'s padding-{left,right} needs
     * to be cleared to give "true" container width.
     */
    width: 100%;
}

/*
 * hover emphasis effect
 * only on the first level of nested tables, to prevent
 * visual distraction
 */
.cms_article>table>thead>tr:hover,
.cms_article>table>tbody>tr:hover,
.cms_article>table>tfoot>tr:hover
{
    background-color: #ccc;
}


/***** LIST DATA *****/
.cms_article ul,
.cms_article ol {
    padding-left: 32px;
}

.cms_article ul>li {
    list-style: disc outside;
}

.cms_article ol>li {
    list-style: decimal outside;
}

.cms_article li>ol>li {
    list-style: lower-latin outside;
}

/*
 * no margin inside table cell
 * descendant selector required, but for simplicity's
 * sake let's hope no one's going to nest lists into
 * table cells. Oh well.
 */
.cms_article td>ul,
.cms_article td>ol {
    padding-left: 0;
}

/*
 * list marker need to go inside the cell
 */
.cms_article td>ol>li,
.cms_article td>ul>li {
    list-style-position: inside;
}


/***** IMAGES *****/
.cms_article img {
    max-width: 100%;
    opacity: 0.75;
}

.cms_article img:hover {
    opacity: 1;
}


/* vim: set ai et ts=4 sw=4 sts=4 ff=unix fenc=utf-8: */
