.sectiontitle {
    font-size: 18px; /* 1.5em */
    font-weight: bold;
}

.fancysub {
    display: inline-block;  /* 这让元素宽度仅仅包住内容 */
    border-top: 2px dotted #a00;
    line-height: normal;
}


/* vim: set ai et ts=4 sw=4 sts=4 ff=unix fenc=utf-8: */
