{% extends "./inc/base/leftright_base.html" %}
{% load cache cms_tags menu_tags %}


{% block left_container_base %}
{% block nav_colorpaste %}<div class="{% block nav_colorpaste_cls %}dmblue_bg{% endblock %} nav_colorpaste"></div>{% endblock %}
{% block left_container %}{% endblock %}
{% endblock %}

{% block right_container_base %}
{% block nav_horiz_container %}
{% with NAV_SHOW_HOME_ENTRY=1, NAV_FOCUSCLRCLASS="dmblue_bgfocus" %}{% include "inc/nav-horiz.html" %}{% endwith %}
{% endblock %}

<div class="lMarginer">
  <ul class="breadcrumb clear">
{% cache 3600 breadcrumb-frag request.path_info request.user.username %}
{% show_breadcrumb %}
{% endcache %}
  </ul>
{% block right_container %}{% endblock %}
</div>
{% endblock %}


{# vim:set ai et ts=2 sw=2 sts=2 fenc=utf8 syntax=django: #}
