{% extends "./inc/base/withnews.html" %}


{% block scripts %}{# TODO: move the pagination part to a dedicated block soon! #}
    <script async="async" type="text/javascript" src="{{ STATIC_URL }}xue/js/sectionpaginate.min.js"></script>
{% endblock %}

{% block right_container %}
<div class="paginator_container">
  <ul class="articlelist"><li><span class="loading">页面加载中，请稍候……</span></li></ul>

  <div class="paginator rightalign">[分页导航区]</div>
</div>

<ul id="pagination_pool" class="articlelist">{% block section_content %}{% endblock %}
</ul>
{% endblock %}


{# vim:set ai et ts=2 sw=2 sts=2 fenc=utf8 syntax=django: #}
