{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}修改密码{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<div class="outer-box">
  <div class="nav-box">
    <div class="nav">
      <ul id="box-nav">
        <li class="first"><a href="{% url userena_profile_detail user.username %}">资料 &raquo;</a></li>
        <li><a href="{% url userena_profile_edit user.username %}">编辑资料 &raquo;</a></li>
        <li  class="selected"><a href="#">修改密码 &raquo;</a></li>
        <li class="last"><a href="{% url userena_email_change user.username %}">修改邮箱地址 &raquo;</a></li>
      </ul>
    </div>

    <div class="mainpane-container">
      <div id="password-change" class="mainpane">
        <form method="post" id="password_change_form">
{{ form.non_field_errors }}
{% csrf_token %}
          <fieldset>
            <legend>密码修改</legend>

{{ form.as_p }}

            <input type="submit" value="修改密码" class="button" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{# vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8 syntax=django: #}

