{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}登录{% endblock %}

{% block content %}
<div class="mainpane">
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>登录</legend>
      {{ form.non_field_errors }}
      {% for field in form %}
      {{ field.errors }}
      {% comment %} Displaying checkboxes differently {% endcomment %}
      {% if field.name == 'remember_me' %}
      <p class="checkbox">
      <label for="id_{{ field.name }}">{{ field }}{{ field.label }}</label>&nbsp;
      </p>
      {% else %}
      <p>
      {{ field.label_tag }} 
      {{ field }}
      </p>
      {% endif %}
      {% endfor %}
      <input type="submit" value="登录" class="button" />
    </fieldset>
    <p class="forgot-password"><a href="{% url userena_password_reset %}" title="忘了密码？">忘了密码？</a></p>
  </form>
</div>
{% endblock %}


{# vim: set ai et ts=2 sw=2 sts=2 ff=unix fenc=utf-8 syntax=django: #}

