{% extends 'tutor/base_tutor.html' %}
{% load i18n %}

{% block title %}审核{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <fieldset>
    <legend>申请审核</legend>
    <div class="clear"></div>

    <div class="details">{% with profile=student.profile %}
      <div class="ident">
        <p class="infoentry realname">姓名 <span>{{ profile.realname }}</span></p>
        <p class="infoentry gender">性别 <span>{% if profile.gender == 1 %}女{% endif %}{% if profile.gender == 2 %}男{% endif %}</span></p>
        <p class="infoentry email">Email <span>{{ student.email }}</span></p>
        <p class="infoentry phone">联系电话 <span>{{ profile.phone }}</span></p>
        <p class="infoentry phone">高中学校 <span>{{ profile.high_school }}</span></p>
        <p class="infoentry hobby">兴趣爱好 <span>{{ profile.hobby }}</span></p>
        <p class="infoentry awards">获奖情况 <span>{% if profile.awards %}{{ profile.awards }}{% else %}无{% endif %}</span></p>
        <p class="infoentry english">英语能力 <span>{% if profile.english_band_type %}{% if profile.english_band_type == 4 %}四级{% endif %}{% if profile.english_band_type == 6 %}六级{% endif %} {{ profile.english_band_score }} 分{% else %}无考试通过记录{% endif %}</span></p>
        <p class="infoentry hobby">
          申请理由<br />
          <span>{{ entry.desc }}</span>
        </p>
      </div>{% endwith %}
    </div>

    {{ form.non_field_errors }}
    {{ form.as_p }}
    <input type="submit" value="提交" class="button" />
  </fieldset>
</form>
{% endblock %}


{# vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8 syntax=django: #}
